* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  width: 800px;
  height: auto;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}
.container .row {
  display: flex;
  gap: 5px;
}
.container .row .imgbox {
  height: 400px;
}
.container .row .imgbox img {
  height: 100%;
  width: 100%;
}
